
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>CEG Test House India</title>
    <link rel="stylesheet" href="../../CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />

    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>

<body>
    <section class="sectionhead" id="top">
        <header>
            <div class="header-content">
                <div class="contact-info">
                    <div class="phone">
                        <span class="bi bi-telephone-fill"></span>
                        Phone: +91-141-4046599
                    </div>
                    <div class="address">
                        <span class="bi bi-geo-alt-fill"></span> B-11(G), Malviya Industrial Area, Malviya Nagar, Jaipur
                    </div>
                    <div class="email">
                        <span class="bi bi-envelope-fill"></span> info@cegtesthouse.com
                    </div>
                </div>
                <div class="social-iconshead">
                    <a href="#" class="social-icon">
                        <span class="bi bi-facebook"></span>
                    </a>
                    <a href="#" class="social-icon">
                        <span class="bi bi-instagram"></span>
                    </a>
                    <a href="#" class="social-icon">
                        <span class="bi bi-twitter"></span>
                    </a>

                    <a href="#" class="social-icon">
                        <span class="bi bi-linkedin"></span>
                    </a>

                </div>
            </div>
        </header>
    </section>
    <section class="section-nav">
        <nav class="navbar">
            <div class="navbar-left">
                <a href="index.html">
                    <img src="../Ceg test house images/cegth-logo.png" alt="Left Icon">
                </a>
            </div>
            <ul class="navbar-menu">
                <li class="dropdown">
                    <a href="#">ABOUT US</a>
                    <div class="dropdown-content">
                        <a href="ourhistory.html ">Our History</a>
                        <a href="#">Vision,Mission & Values</a>
                        <a href="#">What We Do</a>
                        <a href="#">Our Leadership</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">SERVICES</a>
                    <div class="dropdown-content">
                        <a href="#">Geotechnical & Geophysical Investigations</a>
                        <a href="#">Construction Material Testing & Mix Design</a>
                        <a href="#">Non Destructive Testing & Structure Health Assesment</a>
                        <a href="#">Pavement Investigation</a>
                        <a href="#">Foundation Testing (Static/Dynamic Pile Load Test)</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">CARDENTIALS</a>
                </li>
                <li class="dropdown">
                    <a href="#">NEWS AND PUBLICATIONS</a>

                </li>
                <li class="dropdown">
                    <a href="#">PROJECTS</a>

                </li>
                <li class="dropdown">
                    <a href="#">CAREERS</a>


                </li>
                <li class="dropdown">
                    <a href="#">GET IN TOUCH</a>

                </li>
            </ul>
        </nav>
        <div class="breadcrumb1">
            <div class="flex-box-width">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">  Foundation Testing (Static/Dynamic Pile Load test)</a></li>
                </ul>
            </div>
        </div>
        <div class="foundtesth1">
            <h1>Foundation Testing (Static/Dynamic Pile Load test)</h1>
            
        </div>
        <div class="main-full">
            <div class="ss-nav">
                <div class="left-sec">

                    <div class="info">
                        <h1>Contact info</h1>


                        <div class="cip">
                            <p><span class="bi bi-telephone-fill"></span>Phone <span
                                    class="ttxbld">+91-141-4046599</span></p>
                            <p><span class="bi bi-phone-fill"></span>Mobile <span class="ttxbld">+141-4046599 </span>
                            </p>
                            <p><span class="bi bi-envelope-fill"></span><span
                                    class="ttxbld">info@cegtesthouse.com</span></p>
                        </div>

                    </div>
                    <div class="form">
                        <h5>Ask The Expert</h3>
                            <form>
                                <input type="text" placeholder="Enter Your Name" class="name">
                                <input type="text" placeholder="Your Email" class="email">

                                <input type="text" placeholder="Phone " class="phone">
                                <textarea name="" id="" cols="20" rows="4" placeholder="Question"
                                    class="textarea"></textarea>
                                <button class="button"><strong>Submit</strong></button>
                            </form>
                    </div>

                </div>
                <div class="right-sec">
                    <div class="right-box">
                        <div class="rsdh2">
                            <h2>Foundation Testing (Static/Dynamic Pile Load test)</h2>
                        </div>
                        <div class="foundtestimg">
                            <img src="../Ceg test house images/foundation test.jpg" alt="">



                        </div>
                        
                        <div class="rsdp1">
                            <p>Foundation Testing is a method to determine integrity and in-situ load bearing capacity of foundations by various conventional & high end advanced instruments. These methods are most widely accepted and popular testing mechanisms in industries with latest equipment, machinery or infrastructure.
                            </p>
                        </div>
                        
                        <div class="rsdp2">
                            <p>CEGTH covering wide range of such testing & analytics services from conventional static pile load test to sophisticated dynamic pile load test (PDA), micro pile testing and pile integrity testing by both cross hole sonic logging and low strain integrity testing. Pile load test by dynamic method works on high strain dynamic principle.</p>
                        </div>

                        <div class="rsdp3">
                            
                            <p>These tests have gained extensive knowledge and expertise in providing fast, cost-effective and highly accurate results in accordance with national and international standards. This specialized testing need analytical skill that requires appropriate training and practical experience.</p>
                        </div>
                        <div class="rsdh6">
                            <h6>Why Foundation Testing?</h6>

                            <div class="row">
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>To ensure load carrying capacity of Foundation (Open/Pile)</p>
                                </div>
                                <div class="col-sm-12">
                                    <p><span class=" bi bi-check-lg"></span>Verification of design capacity</p>
                                </div>
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Assurance of foundation integrity</p>
                                </div>
                                <div class="col-sm-12">
                                    <p><span class=" bi bi-check-lg"></span>To assure quality, safety, & reliability of structures & providing suitable recommendations</p>
                                </div>
                                




                            </div>

                        </div>
                        <div class="rsdh6">
                            <h6>Our Comprehensive Range of Foundation Testing Services Include</h6>
                            <div class="row rsdhflex">
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Static Pile Load Test</p>
                                </div>
                                <div class="col-sm-12">
                                    <p><span class=" bi bi-check-lg"></span>Dynamic Pile Load Test (PDA)</p>
                                </div>
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Pull out test</p>
                                </div>
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Lateral Load Test</p>
                                </div>
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Micro-pile Testing</p>
                                </div>
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Cross Hole Sonic Logging Integrity Test</p>
                                </div>
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Pile Integrity Testing</p>
                                </div>
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Static & Cyclic Plate Load Test</p>
                                </div>
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>NDT & Structure Health Assessment and Rehabilitation Recommendation</p>
                                </div>
                                









                            </div>

                        </div>
                        <div class="rsdh6">
                            <p>This is a specialized testing that requires analytical skill, sophisticated equipment, and related software. Our certified and well-trained team of technicians has extensive practical experience and follows a well-structured quality system to provide proficient services to various industries.</p>
                            
                        </div>



                        <div class="rsdh6">
                            <h6>Industries that benefit from our Foundation Testing services include</h6>
                            <div class="row rsdhflex">
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Metro & Railways</p>
                                </div>
                                <div class="col-sm-12">
                                    <p><span class=" bi bi-check-lg"></span>Highways & Structures</p>
                                </div>
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Water Resources</p>
                                </div>
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Mines</p>
                                </div>
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Industrial Plants & Refineries, etc.</p>
                                </div>
                            
                                









                            </div>

                        </div>
                    


                            

                        
                        <div class="rsdh6">
                            <h6>Why Choose CEGTH?</h6>
                            <p class="pf1">Backed with decades of experience, subject knowledge, and unparalleled expertise, CEGTH is committed to delivering the most reliable and cost-effective solutions for studying and mitigating your business’s environmental impact.</p>
                            <p class="pf2">Our qualified and certified experts handle projects of any size & complexity with the same dedication, precision & integrity so that you do not have to worry about quality results & turnaround times. Our advanced analytical procedures & state-of-the-art environment testing laboratory add more value to our capabilities and make us the preferred choice for all your environmental testing and monitoring requirements.</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>




















<section class="section-elevan">
        <div class="full-bottom">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo">
                            <img src="../Ceg test house images/cegth-logo.png" alt="Company Logo">
                        </div>
                        <div class="social-iconselevan">
                            <a href="#"><span class="bi bi-facebook"></span></a>
                            <a href="#"><span class="bi bi-twitter"></span></a>
                            <a href="#"><span class="bi bi-instagram"></span></a>
                            <a href="#"><span class="bi bi-linkedin"></span></a>

                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="Address">
                            <h2>Address</h2>
                            <p><span class="bi bi-geo-alt-fill"></span>B-11(G), Malviya Industrial Area,
                                Malviya Nagar, Jaipur - 302017
                                Rajasthan, India</p>
                            <button id="directionsButton">Get Directions On The Map <span
                                    class="bi bi-arrow-right"></span></button>
                            <div id="map"></div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="GeInTouch">
                            <h2>Get in Touch</h2>
                            <p><span class="bi bi-phone-fill"></span>For Customer Care:<span class="editphone"> (+91)
                                    98297-46596</span></p>
                            <p><span class="bi bi-telephone-fill"></span>Phone: <span
                                    class="editphone">+91-141-4046599</span></p>
                            <p><span class="bi bi-envelope-fill"></span>info@cegtesthouse.com</p>
                            <button id="directionsButton">Download Brochure </button>
                            <div id="map"></div>

                        </div>
                    </div>






                </div>
            </div>
        </div>







    </section>
    <section class="sectiontwelve">

        <footer>
            <div class="left-content">
                &copy; 2020 CEG Test House - CEG | <a>Terms and Conditions</a>
            </div>
            <div class="right-content">
                For Customer Care: <span class="bi bi-telephone-fill"></span> (+91) 98297-46596
            </div>





        </footer>





    </section>





























    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.slider').slick({
          autoplay: true,
          autoplaySpeed: 2000,
          dots: false,  // Hide pagination dots
          arrows: true
        });
      });
    </script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>$('.slider').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: true,
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: true
        });

    </script>

</body>

</html>
