<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>CEG Test House India</title>
    <link rel="stylesheet" href="../../CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />

    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>

<body>
    <section class="sectionhead" id="top">
        <header>
            <div class="header-content">
                <div class="contact-info">
                    <div class="phone">
                        <span class="bi bi-telephone-fill"></span>
                        Phone: +91-141-4046599
                    </div>
                    <div class="address">
                        <span class="bi bi-geo-alt-fill"></span> B-11(G), Malviya Industrial Area, Malviya Nagar, Jaipur
                    </div>
                    <div class="email">
                        <span class="bi bi-envelope-fill"></span> info@cegtesthouse.com
                    </div>
                </div>
                <div class="social-iconshead">
                    <a href="#" class="social-icon">
                        <span class="bi bi-facebook"></span>
                    </a>
                    <a href="#" class="social-icon">
                        <span class="bi bi-instagram"></span>
                    </a>
                    <a href="#" class="social-icon">
                        <span class="bi bi-twitter"></span>
                    </a>

                    <a href="#" class="social-icon">
                        <span class="bi bi-linkedin"></span>
                    </a>

                </div>
            </div>
        </header>
    </section>




    <section class="section-nav">
        <div class="containerr">
            <div class="navbar-left">
                <a href="#">
                    <img src="../Ceg test house images/cegth-logo.png" alt="Left Icon">
                </a>
            </div>
            <div class="mr">
                <ul class="navbar-menu">
                    <li class="dropdown">
                        <a href="#" id="top">ABOUT US</a>
                        <div class="dropdown-content">
                            <a href="ourhistory.html">Our History</a>
                            <a href="vision.html">Vision,Mission & Values</a>
                            <a href="whatwedo.html">What We Do</a>
                            <a href="#">Our Leadership</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#">SERVICES</a>
                        <div class="dropdown-content">
                            <a href="#">Geotechnical & Geophysical Investigations</a>
                            <a href="#">Construction Material Testing & Mix Design</a>
                            <a href="#">Non Destructive Testing & Structure Health Assesment</a>
                            <a href="#">Pavement Investigation</a>
                            <a href="#">Foundation Testing (Static/Dynamic Pile Load Test)</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#">CARDENTIALS</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">NEWS AND PUBLICATIONS</a>

                    </li>
                    <li class="dropdown">
                        <a href="#">PROJECTS</a>

                    </li>
                    <li class="dropdown">
                        <a href="#">CAREERS</a>


                    </li>
                    <li class="dropdown">
                        <a href="#">GET IN TOUCH</a>

                    </li>
                </ul>
            </div>
        </div>
</body>
</section>
<div class="breadcrumb1">
    <div class="flex-box-width">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Geophysical and Specialized Services</a></li>
        </ul>
    </div>
</div>

<div class="main-full">
    <div class="ss-nav">
        <div class="left-sec">
            <div class="list-item">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                About us
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <ul>


                                    <li><a href="#"> <span class="bi bi-arrow-right"></span>Our History
                                        </a></li>
                                    <li><a href="#"><span class="bi bi-arrow-right"></span>Vision,Mission & Values</a>
                                    </li>
                                    <li id="back"><a href="#"><span class="bi bi-arrow-right"></span>What We Do</a></li>
                                    <li><a href="#"><span class="bi bi-arrow-right"></span>Our Management</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="info">
                <h1>Contact info</h1>


                <div class="cip">
                    <p><span class="bi bi-telephone-fill"></span>Phone <span class="ttxbld">+91-141-4046599</span>
                    </p>
                    <p><span class="bi bi-phone-fill"></span>Mobile <span class="ttxbld">+141-4046599 </span>
                    </p>
                    <p><span class="bi bi-envelope-fill"></span><span class="ttxbld">info@cegtesthouse.com</span>
                    </p>
                </div>

            </div>
            <div class="form">
                <h5>Ask The Expert</h3>
                    <form>
                        <input type="text" placeholder="Enter Your Name" class="name">
                        <input type="text" placeholder="Your Email" class="email">

                        <input type="text" placeholder="Phone " class="phone">
                        <textarea name="" id="" cols="20" rows="4" placeholder="Question" class="textarea"></textarea>
                        <button class="button"><strong>Submit</strong></button>
                    </form>
            </div>



        </div>
        <div class="right-sec">
            <div class="right-box">
                <div class="gth3">
                    <h3>Geophysical and Specialized Services</h3>
                </div>
                <div class="gtimg1">
                    <img src="../Ceg test house images/Geophysical-and-Specialized-Services mainpix.jpg" alt="">
                </div>
                <div class="hth5">
                    <h5>Pressure Meter Test (Menard-80 Bar & OYO-200 Bar)</h5>

                </div>
                <div class="htp1a">
                    <p>The Pressure Meter Test is performed in both Soil & Rock as per IS 1892, ISRM, IS: 12955
                        (Part-2). This test provides the in-situ stress-strain response of the soil & rock medium, which
                        in turn provides the Modulus of Elasticity for use in geotechnical analysis and design models
                        like Settlement Behavior under Heavy Loading, Tunnel & its Lining Design, etc</p>


                </div>
                <div class="hth5">
                    <h5>Cross Hole & Down Hole Seismic Survey</h5>
                </div>
                <div class="htp1a">
                    <p>Cross Hole & Down Hole Seismic tests are performed to obtain the dynamic properties of strata
                        (like Modulus of Elasticity, Poisson Ratio, Shear Modulus, etc.) by measuring the shear &
                        compression wave velocity. These properties are required for the vibration analysis and design
                        of dynamic foundations in various cases such as the construction of tunnels, operation of metro,
                        and to support any vibratory structure/equipment under industrial plants and refineries, etc.
                        This test is done as per the ASTM D- 4428.</p>


                </div>
                <div class="hth5">
                    <h5>Block Vibration Test</h5>
                </div>
                <div class="htp1a">
                    <p>Block Vibration Test is performed to determine the in-situ dynamic properties and damping
                        characteristics of soil for foundations, supporting reciprocating machines, compressors, large
                        electric motors or generators, etc., which are subjected to vibrations. This test is done as per
                        IS 5249 by generating vibrations on the concrete block at the desired depth, and results are
                        analyzed to get the dynamic properties.</p>


                </div>

                <div class="hth5">
                    <h5>Seismic Refraction Survey</h5>
                </div>
                <div class="htp1a">
                    <p>Seismic Refraction Survey is used to visualize the subsurface strata and its compactness state
                        for recommending the appropriate method of rippability/excavatability & its required tools. This
                        test is commonly used in rocky terrain and also where the conventional investigation is not
                        feasible to assess its precise excavatability methodology as per the respective ground
                        conditions.
                    </p>



                </div>
                <div class="hth5">
                    <h5>Electrical Resistivity Test</h5>
                </div>
                <div class="htp1a">
                    <p>The electrical resistivity of the subsoil has a specific application in the design of grounding
                        systems. Based on electrical resistivity values, subsoil is classified for corrosive properties
                        and its aggressiveness.</p>
                    <p>Apparent electrical resistivity is obtained at different depths by measuring the resistance as
                        per IS 3043 & 1892. The depth at which current enters a formation of higher or lower resistivity
                        is signaled by a change in the resistivity recorded at the ground surface. Subsurface formations
                        can be identified by a proper interpretation of the resistivity data.
                    </p>




                </div>
                <div class="hth5">
                    <h5>Slope Stability Analysis</h5>
                </div>
                <div class="htp1a">
                    <p>The slope stability analysis is done for both soil & rock using geotechnical software like ReSSA
                        & others, by verifying all the possible stability failure cases, including respective strata
                        condition and global/local condition, and provision of berms as well.</p>
                    <p>We have successfully performed stability analysis for various infrastructure projects, mainly in
                        the Highways sector.</p>


                </div>
                <div class="hth5">
                    <h5>Foundation Recommendation</h5>
                </div>

                <div class="htp1a">
                    <p>CEGTH has a team of experienced professionals who can provide customized & optimized foundation
                        recommendations based on subsurface conditions and its proposed structure. Further, as a
                        professional geotechnical consultant, we can assist in proposing all types of shallow and
                        deep/pile foundations suitable for strata conditions and structural requirements.</p>


                </div>
                <div class="hth5">
                    <h5>Liquefaction Analysis</h5>
                </div>

                <div class="htp1a">
                    <p>Liquefaction refers to the phenomenon where soil loses its strength due to a sudden increase in
                        pore water pressure and starts behaving like a flowing medium. It occurs due to seismic events
                        by an earthquake. In general, liquefaction occurs in loose to soft soil having the presence of
                        water level. Its analysis and potential mainly depend on the subsurface strata condition (from
                        geotechnical investigation data) and seismic event details.</p>
                    <p>CEGTH offers in-house expertise to perform liquefaction analysis and related recommendations.</p>


                </div>
                <div class="hth5">
                    <h5>Ground Improvement Recommendation
                    </h5>
                </div>

                <div class="htp1a">
                    <p>In case the existing soil cannot meet the required structural loading, suitable ground
                        improvement for the needed/planned depth is done to increase the bearing capacity and to take
                        care of the liquefaction effect.</p>
                    <p>The selection for ground improvement recommendations can be made by considering the strata type,
                        condition, and structural requirements.</p>


                </div>

                <div class="hth5">
                    <h5>Vibratory Foundation Recommendations
                    </h5>
                </div>

                <div class="htp1a">
                    <p>CEGTH acquires in-house expertise to provide various geotechnical tests and analysis
                        interpretation (Vp, Vs, Ed, G, µ, etc.) for vibratory foundation recommendations, which is
                        applicable in machine foundation and to support any vibratory structure/equipment under
                        Industrial Plants and Refineries, Tunnels, Operation of Metro, etc.</p>



                </div>






            </div>



        </div>





    </div>





</div>


<section class="section-elevan">
    <div class="full-bottom">
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="logo">
                        <img src="../Ceg test house images/cegth-logo.png" alt="Company Logo">
                    </div>
                    <div class="social-iconselevan">
                        <a href="#"><span class="bi bi-facebook"></span></a>
                        <a href="#"><span class="bi bi-twitter"></span></a>
                        <a href="#"><span class="bi bi-instagram"></span></a>
                        <a href="#"><span class="bi bi-linkedin"></span></a>

                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="Address">
                        <h2>Address</h2>
                        <p><span class="bi bi-geo-alt-fill"></span>B-11(G), Malviya Industrial Area,
                            Malviya Nagar, Jaipur - 302017
                            Rajasthan, India</p>
                        <button id="directionsButton">Get Directions On The Map <span
                                class="bi bi-arrow-right"></span></button>
                        <div id="map"></div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="GeInTouch">
                        <h2>Get in Touch</h2>
                        <p><span class="bi bi-phone-fill"></span>For Customer Care:<span class="editphone"> (+91)
                                98297-46596</span></p>
                        <p><span class="bi bi-telephone-fill"></span>Phone: <span
                                class="editphone">+91-141-4046599</span></p>
                        <p><span class="bi bi-envelope-fill"></span>info@cegtesthouse.com</p>
                        <button id="directionsButton">Download Brochure </button>
                        <div id="map"></div>

                    </div>
                </div>






            </div>
        </div>
    </div>






</section>
<section class="sectiontwelve">

    <footer>
        <div class="left-content">
            &copy; 2020 CEG Test House - CEG | <a>Terms and Conditions</a>
        </div>
        <div class="right-content">
            For Customer Care: <span class="bi bi-telephone-fill"></span> (+91) 98297-46596
        </div>





    </footer>





</section>





























<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.slider').slick({
          autoplay: true,
          autoplaySpeed: 2000,
          dots: false,  // Hide pagination dots
          arrows: true
        });
      });
    </script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>$('.slider').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 2000,
        arrows: true
    });

</script>

</body>

</html>