<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>CEG Test House India</title>
    <link rel="stylesheet" href="../../CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />

    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>

<body>
    
    <section class="sectionhead" id="top">
        <header>
            <div class="header-content">
                <div class="contact-info">
                    <div class="phone">
                        <span class="bi bi-telephone-fill"></span>
                        Phone: +91-141-4046599
                    </div>
                    <div class="address">
                        <span class="bi bi-geo-alt-fill"></span> B-11(G), Malviya Industrial Area, Malviya Nagar, Jaipur
                    </div>
                    <div class="email">
                        <span class="bi bi-envelope-fill"></span> info@cegtesthouse.com
                    </div>
                </div>
                <div class="social-iconshead">
                    <a href="#" class="social-icon">
                        <span class="bi bi-facebook"></span>
                    </a>
                    <a href="#" class="social-icon">
                        <span class="bi bi-instagram"></span>
                    </a>
                    <a href="#" class="social-icon">
                        <span class="bi bi-twitter"></span>
                    </a>

                    <a href="#" class="social-icon">
                        <span class="bi bi-linkedin"></span>
                    </a>

                </div>
            </div>
        </header>
    </section>




    <section class="section-nav">
        <div class="containerr">
            <div class="navbar-left">
                <a href="#">
                    <img src="../Ceg test house images/cegth-logo.png" alt="Left Icon">
                </a>
            </div>
            <div class="mr">
                <ul class="navbar-menu">
                    <li class="dropdown">
                        <a href="#" id="top">ABOUT US</a>
                        <div class="dropdown-content">
                            <a href="ourhistory.html">Our History</a>
                            <a href="vision.html">Vision,Mission & Values</a>
                            <a href="whatwedo.html">What We Do</a>
                            <a href="#">Our Leadership</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#">SERVICES</a>
                        <div class="dropdown-content">
                            <a href="#">Geotechnical & Geophysical Investigations</a>
                            <a href="#">Construction Material Testing & Mix Design</a>
                            <a href="#">Non Destructive Testing & Structure Health Assesment</a>
                            <a href="#">Pavement Investigation</a>
                            <a href="#">Foundation Testing (Static/Dynamic Pile Load Test)</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#">CARDENTIALS</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">NEWS AND PUBLICATIONS</a>

                    </li>
                    <li class="dropdown">
                        <a href="#">PROJECTS</a>

                    </li>
                    <li class="dropdown">
                        <a href="#">CAREERS</a>


                    </li>
                    <li class="dropdown">
                        <a href="#">GET IN TOUCH</a>

                    </li>
                </ul>
            </div>
        </div>
</body>
</section>
<div class="breadcrumb1">
    <div class="flex-box-width">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#"> Meet Our Team</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/mr vishwas jain.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">Mr. Vishwas Jain</p>
                <p class="mtdesignation">Managing Director</p>
                <p class="mteducat">AMIE Architecture</p>
                <p class="mteducat1">B.E.(Civil) – MNIT, Jaipur</p>
            </div>
            <p class="mtptxt">A Civil Engineer by profession, Mr. Vishwas Jain is a first-generation entrepreneur and a
                renowned
                infrastructure expert in the country. He single-handedly established Consulting Engineers Group Ltd.
                (CEG), an infrastructure consultancy, in 1984. Today CEG is one of the largest and most sought
                transportation sector International consulting organizations in India, providing services for all
                facets, from inception and commissioning to operations and maintenance with the employment of over 1100
                professionals.</p>
            <p class="mtptxt">As Founder and Managing Director of Consulting Engineers Group Limited, Mr. Jain
                envisioned CEG’s role in
                nation-building by giving smart solutions for Expressways, Highways, Bridges, Metro, Rail, Tunnels,
                Airports, Water Resources, Asset Management, Capacity Building Projects, etc.</p>
            <p class="mtptxt">Besides CEG, Mr. Jain also laid down the foundation for one of the country’s most high-end
                testing
                laboratories named CEG Test House And Research Center Pvt. Ltd. (NABL accredited as per ISO/IEC
                17025:2017 and BIS recognized), providing quality testing services for multiple disciplines such as:
                Geo-technical Investigations, Environment, Building & Construction Material, Food, Pharmaceuticals &
                Agricultural Products, Water, Drugs & Surgical Items, etc.</p>
            <p class="mtptxt">Mr. Vishwas Jain always focused on creating an effective equilibrium between the ambitious
                goals of the
                organization with the commitment to bring positivity to the society that surrounds us. He has been
                involved in many philanthropic works and is actively supporting Girl Child Education, medical treatment
                facility for underprivileged people, and a school for children with autism and disabilities.</p>






        </div>


    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/renu jain.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">Dr. Renu Jain</p>
                <p class="mtdesignation">Managing Director</p>
                <p class="mteducat">Ph.D. (Environment) – MNIT, Jaipur</p>
            </div>

            <p class="mtptxt">
                Dr. Renu Jain is a Ph.D. with over three decades of experience in Environmental and Civil Engineering
                and more than 19 years of experience in preparing Detailed Project Reports as a Key Environmental
                Expert. She also has vast experience in carrying out Environmental Impact Assessment (EIA) relating to
                infrastructure development projects and preparation of Detailed Project Report (DPR) and Environmental
                Management Plan (EMP). Dr. Jain is familiar with the latest Indian Environmental Legislations and had
                obtained various clearances viz. Environmental, Forest, Wildlife, and CRZ clearances from the Ministry
                of Environment and Forests, Government of India for several projects’ recognition in NABET, ADB, and WB.
            </p>
            <p class="mtptxt">Dr. Jain significantly contributes to Compliance Studies, EIA & EMP Report writing, and
                presenting and
                defending the same to statutory bodies. She also manages interaction/coordination with different
                agencies for the completion of EIA Reports. She has the right exposure to Environmental & Social
                Governance – National (Ministry of Environment and Forest (MoEF)) and International (World Bank, Asian
                Development Bank) Policies and Regulations, Environmental & Social Safeguard Guidelines, Environmental &
                Social Standards, Notifications, Specifications, etc. Her work also encompasses the preparation of
                guidelines and Environmental Management Plan, ensuring implementation of Environmental Management Plan,
                monitoring and controlling related to environmental aspects, issuing necessary
                instructions/recommendations, day to day interaction with concerned agencies, ensuring proper
                follow-ups, reporting and recommending corrective measures. Dr. Jain is well-versed in MOEF
                guidelines/requirements for mitigation measures pertaining to the environment</p>








        </div>


    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/sarvesh-chandra11.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">Dr. Sarvesh Chandra</p>
                <p class="mtdesignation">Technical Advisor, Geotechnical</p>
                <p class="mteducat">Former Professor, IIT Kanpur</p>
            </div>

            <p class="mtptxt">

                Mr Chandra has experience of over 3 decades in academics & various geotechnical consultancy projects
                along with his association with multiple technical committees.
            </p>
            <p class="mtptxt">He has served as a Professor, Geotechnical Engineering at IIT Kanpur, Asian Institute of
                Technology, Bangkok, Thailand and The University of KwaZulu Natal Durban, South Africa.
                He has also contributed as a Visiting Scientist at the Institute of Geotechnical Engineering, University
                of Karlsruhe, Germany, The University of Darmstadt, Germany and the University of Townsville, Australia.
                He holds Ph.D. & M.Tech in Geotechnical Engineering from IIT Kanpur. He has also published journals and
                given presentations at various conferences on national & international platforms.</p>








        </div>


    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/bibek jha.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">Mr. Bibek Kumar Jha</p>
                <p class="mtdesignation">Sr. Vice President (Geotechnical)</p>
                <p class="mteducat">M.Tech (Geotechnical) – IIT Bombay</p>
            </div>

            <p class="mtptxt">

                Bibek Kumar Jha has over 15 years’ international industrial work experience in Geotechnical Engineering
                and Project Management.
            </p>
            <p class="mtptxt">Since his joining, Mr. Jha has held a variety of integral roles, including leading the
                geotechnical team for project completion, conducting training sessions for the field, lab & report team,
                meeting with clients for business development, consultation of technical feedback & approval of reports,
                review & preparation of geotechnical reports & scope of work, and recommendations on various
                geotechnical scenarios.</p>
            <p class="mtptxt">Mr. Jha holds a Post Graduate (M.Tech) degree in Geotechnical Engineering from I.I.T.
                Bombay, one of the country’s premier public technical and research universities.</p>








        </div>


    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/gn purohit.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">Mr. G N Purohit</p>
                <p class="mtdesignation">Vice President(Administration), Ex-IPS</p>
                <p class="mteducat">L.L.B</p>
            </div>

            <p class="mtptxt">

                GN Purohit is a retired Inspector General of Police with experience of 41 years in administrative
                vigilanc
            </p>
            <p class="mtptxt">In this role, he is responsible for leading the company’s administrative department and
                developing innovative strategies to enhance its performance. He also oversees the organization’s
                internal operations, including legal affairs, marketing & finance, resource management & coordination,
                payroll, accounting & audits, etc.</p>








        </div>


    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/amit jain.png" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">Mr. Amit Jain</p>
                <p class="mtdesignation">General Manager – Business Development</p>
                <p class="mteducat">M.Tech (Geotechnical Engineering) – Delhi Technological University</p>
            </div>

            <p class="mtptxt">

                Amit Jain joined CEGTH&RC in 2017. His responsibilities include Business Development & tendering of
                Geotechnical, Construction Material & Specialized Testing for varied sectors. He is actively involved in
                handling client interactions and diversifying the company’s scope using the latest equipment,
                technologies, and research analysis. Mr. Jain is committed to enhancing the company’s growth with his
                invaluable contributions to both domestic and international projects.
            </p>
            <p class="mtptxt">Mr. Jain holds a B.Tech. Degree in Civil Engineering from NITK Surathkal and an M.Tech.
                Degree in Geotechnical Engineering from Delhi Technological University (formerly DCE). Prior to
                CEGTH&RC, he had worked with MACE Group and COWI India.</p>








        </div>


    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/B-L-Rawat-1.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">
                    Mr. B L Rawat
                </p>
                <p class="mtdesignation">Chief General Manager & Technical Advisor</p>
                <p class="mteducat">Phd- MNIT, Jaipur</p>
            </div>

            <p class="mtptxt">

                Mr. BL Rawat has over 36 years’ experience in construction industry including Quality Management System,
                design and construction supervision of highways, Bridges, Building , Sports complexes, industrial
                buildings etc. Also has experience of five Nos Project Management Consultation of externally funded
                project of the World Bank, ADB and AIIB. Publishes more than 5 Technical Papers in Indian Highways,
                Institute of Engineers (India). Visiting faculty of HCM PIRA, MNIT, ESTI, IAHE and many more Technical
                Institutes.
            </p>
            <p class="mtptxt">Mr. BL Rawat has vast experience of Bituminous Mix Design, Concrete Mix Design , Execution
                of Roads Bituminous & PQC, Bridge and Building works in Government as well as in Private sectors. He
                also has been Council Member of the Indian Roads Congress and life member of IRC, IBC, IE (India) etc.
                Mr. BL Rawat in Graduate from Malviya Institute of Engineering (now MNIT) Jaipur, double Post Graduate
                from MNIT Jaipur M. Tech (Transportation Engineering) and MBA from Indira Gandhi National Open
                University (IGNOU), New Delhi. Also has Diploma in Management (DIM) and double Post Graduate Diploma
                (PGDIM) in Marketing and HR from IGNOU. Mr. BL Rawat is Technical Adviser to the CEGTH &RC.</p>








        </div>


    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/a s rajawat.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">
                    Mr. A S Rajawat
                </p>
                <p class="mtdesignation">Sr. General Manager – Operations</p>
                <p class="mteducat">M.Tech (Transportation)</p>
            </div>

            <p class="mtptxt">

                A S Rajawat has been with us since the beginning and has held several integral roles, specifically in
                Geotechnical Investigations.
            </p>
            <p class="mtptxt">Mr. Rajawat is responsible for developing and implementing effective growth strategies to
                achieve the company’s goals & vision. His work encompasses everything related to GTI Project Management
                & Execution, including project scope determination, resource management, budget preparation, contract
                management, work progress monitoring, etc.</p>

            <p class="mtptxt">

                Mr. Rajawat holds an M.Tech. Degree in Transportation Engineering.
            </p>








        </div>



    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/Alok-k -shah.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">
                    Mr. Alok K Shah
                </p>
                <p class="mtdesignation">Sr. General Manager – Geologist Expert</p>
                <p class="mteducat"> M.Sc. (Geology)</p>
            </div>

            <p class="mtptxt">


                Alok K Shah is a technical expert responsible for monitoring & reporting daily site activities, handling
                client interactions, identifying & meeting the site team’s technical requirements, and conducting
                training sessions on specialized field tests.
            </p>
            <p class="mtptxt">Mr. Shah holds an M.Sc. in Geology and has more than a decade of experience in the field
                of Geotechnical Investigations. Prior to joining CEGTH&RC, he has held senior roles at Fugro Geotech (I)
                Pvt. Ltd. and Geo Engineering Services.</p>








        </div>


    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/B-K-Singh.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">
                    Dr. Bipin Kumar Singh
                </p>
                <p class="mtdesignation">Deputy General Manager – Lab Operations</p>
                <p class="mteducat">
                    Ph.D. (Civil Engineering)</p>
            </div>

            <p class="mtptxt">

                Dr. Bipin Kumar Singh is a technical expert & heads our Mechanical Laboratory.
            </p>
            <p class="mtptxt">Dr. Singh brings to CEGTH&RC a vast 25 years’ experience in Material Testing, Pavement
                Investigation, Geotechnical Exploration, and Non-Destructive Testing. From managing inventories to
                preparing DPRs, testing, and recommendation, he is responsible for handling both the Technical and
                Managerial aspects of our company.</p>
            <p class="mtptxt">
                Dr. Singh holds a Ph.D. Degree in Transportation Engineering and has published his research papers in
                several national & international journals. Prior to joining CEGTH&RC, he served as the Assistant
                Professor cum Head of Department (Civil Engineering) at NIMS University, Rajasthan.


            </p>








        </div>


    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/Nehal-Jain-1.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">
                    Mr. Nehal Jain
                </p>
                <p class="mtdesignation">General Manager – Geotechnical</p>
                <p class="mteducat">B.Tech, MNIT</p>
            </div>

            <p class="mtptxt">

                Nehal Jain has over 9 years’ work experience in Geotechnical Engineering and Project Management.
            </p>
            <p class="mtptxt">Mr. Jain had joined the organisation in the year 2014 and since has contributed to the
                success. He joined a fledgling in the Geotech team and worked on analysis of foundation designs, slope
                stability, preparation of geotechnical reports & providing recommendation. Presently leading the
                geotechnical team for project completion, meeting with clients for consultation of technical feedback &
                approval of reports, review of geotechnical reports & scope of work..</p>

            <p class="mtptxt">

                Mr. Jain is a B.Tech in Civil Engineering from MNIT Jaipur, one of the country’s premier public
                technical and research universities
            </p>








        </div>


    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/Ankur-Mudgal.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">
                    Dr. Ankur Mudgal
                </p>
                <p class="mtdesignation">Sr. Manager- Geotechnical</p>
                <p class="mteducat">
                    Ph.D. (Civil Engineering) – Delhi Technological University</p>
            </div>

            <p class="mtptxt">

                Dr. Ankur Mudgal manages the company’s reporting and business development activities.
            </p>
            <p class="mtptxt">Dr. Mudgal is an expert in geotechnical investigations, has excellent research skills, and
                published his papers in various national & international journals. His research fields include Ground
                Improvement Methods, Geosynthetics in Sustainable Development, Numerical Modeling of Geomaterials, and
                Soil Stabilization.</p>









        </div>


    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/Vijaya-Lakshmi.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">
                    Ms. Vijaya Lakshmi
                </p>
                <p class="mtdesignation">Sr. Manager- Geotechnical</p>
                <p class="mteducat">M.Tech. (Soil & Rock Mechanics) – IIT Roorkee
                    B.E. (Civil Engineering) – BIT Mesra</p>
            </div>

            <p class="mtptxt">

                Vijaya Lakshmi has over 9 years of Technical & Managerial work experience in Geotechnical Engineering
                including 3 years in Detailed Geotechnical Report preparation, 5 years in heading Material Testing
                Laboratory. She has conducted training sessions on material testing, analysis and report making for lab
                team as well as for clients and actively taken up NABL process (Technical Manager) of Laboratory
                (Construction Material Testing).
            </p>
            <p class="mtptxt">Her additional work includes, assignments of Numerical Modelling (UDEC, Talren), Field
                Tests and Non-Destructive Tests Report preparation, Instrumentation Monitoring Analysis & Interpretation
                and Health Monitoring Studies of Super & Sub Structures..</p>

            <p class="mtptxt">
                Ms. Lakshmi holds a Post Graduate (M. Tech) degree in Geotechnical Engineering from IIT Roorkee, and
                Under Graduate (B.E.) degree in Civil Engineering from BIT, Mesra one of the country’s premier
                universities. Prior to CEGTH&RC, she had worked as associate consultant in ATES (Advanced Technology &
                Engineering Services) Aimil Ltd.
            </p>








        </div>


    </div>
    <div class="row ourleadpics">
        <div class="col-sm-3">
            <img src="../Ceg test house images/Varun-Gattani-1.jpg" alt="">



        </div>
        <div class="col-sm-9">
            <div class="teamabout">
                <p class="mtname">

                    Mr. Varun Gattani
                </p>
                <p class="mtdesignation">General Manager- Finance</p>
                <p class="mteducat">CA, ICAI</p>
            </div>

            <p class="mtptxt">

                Varun Gattani has over 11 years’ work experience in Taxation, Internal control and Project accounts
                Management..
            </p>
            <p class="mtptxt">Since his joining, Mr. Gattani has held a variety of integral roles, including leading the
                Finance and Accounts team for Compliance and Day to Day Requirement of company, Ensures business
                processes, administration, and financial management.</p>

            <p class="mtptxt">

                Mr. Gattani holds a CA from ICAI and Post Graduate M.Com (Accounts) degree in one of the country’s
                premier public universities and Institute.
            </p>








        </div>


    </div>


</div>




















































































































































<section class="section-elevan">
    <div class="full-bottom">
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="logo">
                        <img src="../Ceg test house images/cegth-logo.png" alt="Company Logo">
                    </div>
                    <div class="social-iconselevan">
                        <a href="#"><span class="bi bi-facebook"></span></a>
                        <a href="#"><span class="bi bi-twitter"></span></a>
                        <a href="#"><span class="bi bi-instagram"></span></a>
                        <a href="#"><span class="bi bi-linkedin"></span></a>

                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="Address">
                        <h2>Address</h2>
                        <p><span class="bi bi-geo-alt-fill"></span>B-11(G), Malviya Industrial Area,
                            Malviya Nagar, Jaipur - 302017
                            Rajasthan, India</p>
                        <button id="directionsButton">Get Directions On The Map <span
                                class="bi bi-arrow-right"></span></button>
                        <div id="map"></div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="GeInTouch">
                        <h2>Get in Touch</h2>
                        <p><span class="bi bi-phone-fill"></span>For Customer Care:<span class="editphone"> (+91)
                                98297-46596</span></p>
                        <p><span class="bi bi-telephone-fill"></span>Phone: <span
                                class="editphone">+91-141-4046599</span></p>
                        <p><span class="bi bi-envelope-fill"></span>info@cegtesthouse.com</p>
                        <button id="directionsButton">Download Brochure </button>
                        <div id="map"></div>

                    </div>
                </div>






            </div>
        </div>
    </div>






</section>
<section class="sectiontwelve">

    <footer>
        <div class="left-content">
            &copy; 2020 CEG Test House - CEG | <a>Terms and Conditions</a>
        </div>
        <div class="right-content">
            For Customer Care: <span class="bi bi-telephone-fill"></span> (+91) 98297-46596
        </div>





    </footer>





</section>





























<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.slider').slick({
          autoplay: true,
          autoplaySpeed: 2000,
          dots: false,  // Hide pagination dots
          arrows: true
        });
      });
    </script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>$('.slider').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 2000,
        arrows: true
    });

</script>


</body>

</html>