.accordionggi {
    background-color: #f4bc65;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    gap: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin-top: 3px;
    font-weight: 600;
    border-radius: 7px;
}

.active, .accordionggi:hover {
    background-color: #edcc6e;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
