<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Your Website Title</title>
    <link rel="stylesheet" href="../../CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>

<body>
    <section class="sectionhead">
        <header>
            <div class="header-content">
                <div class="contact-info">
                    <div class="phone">
                        <span class="bi bi-telephone-fill"></span>
                        Phone: +91-141-4046599
                    </div>
                    <div class="address">
                        <span class="bi bi-geo-alt-fill"></span> B-11(G), Malviya Industrial Area, Malviya Nagar, Jaipur
                    </div>
                    <div class="email">
                        <span class="bi bi-envelope-fill"></span> info@cegtesthouse.com
                    </div>
                </div>
                <div class="social-iconshead">
                    <a href="#" class="social-icon">
                        <span class="bi bi-facebook"></span>
                    </a>
                    <a href="#" class="social-icon">
                        <span class="bi bi-instagram"></span>
                    </a>
                    <a href="#" class="social-icon">
                        <span class="bi bi-twitter"></span>
                    </a>

                    <a href="#" class="social-icon">
                        <span class="bi bi-linkedin"></span>
                    </a>

                </div>
            </div>
        </header>
    </section>




    <section class="section-nav">
        <nav class="navbar">
            <div class="navbar-left">
                <a href="index.html">
                    <!-- <img src="../Ceg test house images/ test house images/cegth-logo.png" alt="Left Icon">  -->
                    <img src="../Ceg test house images/cegth-logo.png" alt="Left Icon"> 
                
                </a>
            </div>
            <ul class="navbar-menu">
                <li class="dropdown">
                    <a href="#">ABOUT US</a>
                    <div class="dropdown-content">
                        <a href="ourhistory.html">Our History</a>
                        <a href="#">Vision,Mission & Values</a>
                        <a href="whatwedo.html">What We Do</a>
                        <a href="#">Our Leadership</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">SERVICES</a>
                    <div class="dropdown-content">
                        <a href="#">Geotechnical & Geophysical Investigations</a>
                        <a href="#">Construction Material Testing & Mix Design</a>
                        <a href="#">Non Destructive Testing & Structure Health Assesment</a>
                        <a href="#">Pavement Investigation</a>
                        <a href="#">Foundation Testing (Static/Dynamic Pile Load Test)</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">CARDENTIALS</a>
                </li>
                <li class="dropdown">
                    <a href="#">NEWS AND PUBLICATIONS</a>

                </li>
                <li class="dropdown">
                    <a href="#">PROJECTS</a>

                </li>
                <li class="dropdown">
                    <a href="#">CAREERS</a>


                </li>
                <li class="dropdown">
                    <a href="#">GET IN TOUCH</a>

                </li>
            </ul>
        </nav>
    </section>
    </ul>
    </nav>



    <section class="breadcrump">
        <div>

            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="whatwedo.html">What We Do</a></li>

            </ul>




        </div>
    </section>



    <section class="ourhstmain">
        <div class="container-fluid">
            <div class="ourhstheading">
                <h3>Our History</h3>
            </div>

            <div class="row">
                <div class="col-sm-6 cegimg">
                    <img src="../Ceg test house images/ceg Building.jpg" alt="">



                </div>
                <div class="col-sm-6">
                    <div class="ourhstp1">

                        <p>CEG Test House and Research Centre Private Limited offer impeccable and multi-disciplinary
                            services in Geotechnical Investigations, Building Material Testing, Specialized Testing,
                            Non-Destructive Testing etc. Operational for 3 decades and proudly proclaimed as the first
                            of its kind in the private sector of Rajasthan, CEGTH has successfully established itself as
                            one of the most reputed and recognized testing organizations in the country.</p>
                    </div>

                    <div class="ourhstp2">
                        <p>CEGTH is a part of Consulting Engineers Group Ltd (CEG) – a globally recognized engineering
                            consulting organization founded in 1984, and contributing significantly to multiple facets
                            of infrastructure development.</p>


                    </div>
                    <div class="ourhstp3">
                        <p>Each laboratory at CEGTH is supported by highly qualified and dedicated professionals,
                            including engineers, scientists, technicians, chemists, and experts from various fields.
                            These skilled and trained experts provide smart, optimized, and innovative solutions to all
                            clients, irrespective of the project complexity and short deadlines.</p>


                    </div>
                    <div class="ourhstp4">
                        <p>CEGTH has received approvals and accreditations from the following regulatory certification
                            bodies of India that further affirm its credibility and reliability in the industry:</p>


                    </div>
                    <div class="ourhstulol">
                        <ul>
                            <li>NABL</li>
                            <li>ISO 9001:2015</li>
                            <li>ISO 14001:2015</li>
                            <li>ISO 45001:2018 (OHSAS)</li>
                            <li>GLP</li>
                            <li>BIS</li>
                            <li>MoEF</li>
                            <li>EIC</li>
                        </ul>
                    </div>
                    <div class="ourhstp6">
                        <p>CEGTH was also got conferred with the Rajiv Gandhi National Quality Award in recognition of
                            its efforts and commitment to ensuring quality in the field of testing services.</p>
                    </div>
                    <div class="ourhstp7">
                        <p>By adopting leading-edge technologies and modern testing solutions, CEGTH always strives to
                            stay ahead of the curve and evolve into one of the world’s leading test houses.</p>
                    </div>



                </div>
            </div>
        </div>






















    </section>











































































    <section class="section-elevan">
        <div class="full-bottom">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo">
                            <img src="../Ceg test house images/cegth-logo.png" alt="Company Logo">
                        </div>
                        <div class="social-iconselevan">
                            <a href="#"><span class="bi bi-facebook"></span></a>
                            <a href="#"><span class="bi bi-twitter"></span></a>
                            <a href="#"><span class="bi bi-instagram"></span></a>
                            <a href="#"><span class="bi bi-linkedin"></span></a>

                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="Address">
                            <h2>Address</h2>
                            <p><span class="bi bi-geo-alt-fill"></span>B-11(G), Malviya Industrial Area,
                                Malviya Nagar, Jaipur - 302017
                                Rajasthan, India</p>
                            <button id="directionsButton">Get Directions On The Map <span
                                    class="bi bi-arrow-right"></span></button>
                            <div id="map"></div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="GeInTouch">
                            <h2>Get in Touch</h2>
                            <p><span class="bi bi-phone-fill"></span>For Customer Care:<span class="editphone">
                                    (+91)
                                    98297-46596</span></p>
                            <p><span class="bi bi-telephone-fill"></span>Phone: <span
                                    class="editphone">+91-141-4046599</span></p>
                            <p><span class="bi bi-envelope-fill"></span>info@cegtesthouse.com</p>
                            <button id="directionsButton">Download Brochure </button>
                            <div id="map"></div>

                        </div>
                    </div>






                </div>
            </div>
        </div>






    </section>
    <section class="sectiontwelve">

        <footer>
            <div class="left-content">
                &copy; 2020 CEG Test House - CEG | <a>Terms and Conditions</a>
            </div>
            <div class="right-content">
                For Customer Care: <span class="bi bi-telephone-fill"></span> (+91) 98297-46596
            </div>





        </footer>





    </section>






























    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>





</body>

</html>






















</body>
</section>