<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>CEG Test House India</title>
    <link rel="stylesheet" href="../../CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />

    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>

<body>
    <section class="sectionhead" id="top">
        <header>
            <div class="header-content">
                <div class="contact-info">
                    <div class="phone">
                        <span class="bi bi-telephone-fill"></span>
                        Phone: +91-141-4046599
                    </div>
                    <div class="address">
                        <span class="bi bi-geo-alt-fill"></span> B-11(G), Malviya Industrial Area, Malviya Nagar, Jaipur
                    </div>
                    <div class="email">
                        <span class="bi bi-envelope-fill"></span> info@cegtesthouse.com
                    </div>
                </div>
                <div class="social-iconshead">
                    <a href="#" class="social-icon">
                        <span class="bi bi-facebook"></span>
                    </a>
                    <a href="#" class="social-icon">
                        <span class="bi bi-instagram"></span>
                    </a>
                    <a href="#" class="social-icon">
                        <span class="bi bi-twitter"></span>
                    </a>

                    <a href="#" class="social-icon">
                        <span class="bi bi-linkedin"></span>
                    </a>

                </div>
            </div>
        </header>
    </section>
    <section class="section-nav">
        <nav class="navbar">
            <div class="navbar-left">
                <a href="index.html">
                    <img src="../Ceg test house images/cegth-logo.png" alt="Left Icon">
                </a>
            </div>
            <ul class="navbar-menu">
                <li class="dropdown">
                    <a href="#">ABOUT US</a>
                    <div class="dropdown-content">
                        <a href="ourhistory.html ">Our History</a>
                        <a href="#">Vision,Mission & Values</a>
                        <a href="#">What We Do</a>
                        <a href="#">Our Leadership</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">SERVICES</a>
                    <div class="dropdown-content">
                        <a href="#">Geotechnical & Geophysical Investigations</a>
                        <a href="#">Construction Material Testing & Mix Design</a>
                        <a href="#">Non Destructive Testing & Structure Health Assesment</a>
                        <a href="#">Pavement Investigation</a>
                        <a href="#">Foundation Testing (Static/Dynamic Pile Load Test)</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">CARDENTIALS</a>
                </li>
                <li class="dropdown">
                    <a href="#">NEWS AND PUBLICATIONS</a>

                </li>
                <li class="dropdown">
                    <a href="#">PROJECTS</a>

                </li>
                <li class="dropdown">
                    <a href="#">CAREERS</a>


                </li>
                <li class="dropdown">
                    <a href="#">GET IN TOUCH</a>

                </li>
            </ul>
        </nav>
        <div class="breadcrumb1">
            <div class="flex-box-width">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#"> Pavement Investigation</a></li>
                </ul>
            </div>
        </div>
        <div class="main-full">
            <div class="ss-nav">
                <div class="left-sec">

                    <div class="info">
                        <h1>Contact info</h1>


                        <div class="cip">
                            <p><span class="bi bi-telephone-fill"></span>Phone <span
                                    class="ttxbld">+91-141-4046599</span></p>
                            <p><span class="bi bi-phone-fill"></span>Mobile <span class="ttxbld">+141-4046599 </span>
                            </p>
                            <p><span class="bi bi-envelope-fill"></span><span
                                    class="ttxbld">info@cegtesthouse.com</span></p>
                        </div>

                    </div>
                    <div class="form">
                        <h5>Ask The Expert</h3>
                            <form>
                                <input type="text" placeholder="Enter Your Name" class="name">
                                <input type="text" placeholder="Your Email" class="email">

                                <input type="text" placeholder="Phone " class="phone">
                                <textarea name="" id="" cols="20" rows="4" placeholder="Question"
                                    class="textarea"></textarea>
                                <button class="button"><strong>Submit</strong></button>
                            </form>
                    </div>

                </div>
                <div class="right-sec">
                    <div class="right-box">
                        <div class="rsdh2">
                            <h2>Pavement Investigation</h2>
                        </div>


                        <div id="carouselExampleIndicators" class="carousel slide">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="../Ceg test house images/pavment1 slide.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="../Ceg test house images/pavment2 slide.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="../Ceg test house images/pavment3slide.jpg" class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        <!-- <div class="slider">
                            <div class="items">


                                <img src="Ceg test house images/pavment1 slide.jpg" class="d-block w-100" alt="Slide 1">
                            </div>
                            <div class="items">


                                <img src="Ceg test house images/pavment2 slide.jpg" class="d-block w-100" alt="Slide 1">
                            </div>
                            <div class="items">


                                <img src="Ceg test house images/pavment3slide.jpg" class="d-block w-100" alt="Slide 1">
                            </div>








                        </div> -->
                        <div class="rsdp1">
                            <p>Pavement Investigation is a systematic analysis to provide critical information on all conditions relevant to the pavement’s design, construction, and future performance. Pavement Testing is of considerable importance in all highway projects to ensure their quality, uniformity, and long-term stability.
                            </p>
                        </div>
                        <div class="rsdh6">
                            <h6>Why Pavement Investigation?</h6>
                            <p> <span class="bi bi-check-lg"></span>To determine the strength, performance, and durability of pavement</p>
                            <p><span class="bi bi-check-lg"></span>To reduce potential damage and ensure future sustainability
                            </p>
                            <p><span class="bi bi-check-lg"></span>To implement a cost-effective solution for the design and/or treatment of pavement

                            </p>


                        </div>
                        <div class="rsdp2">
                            <p>With over 30 years of experience in Pavement Investigation, CEGTH has acquired valuable expertise in investigating existing/new bituminous and concrete pavements. Our proficient engineers assess the materials used to construct the varying layers of pavement and highway structures and provide accurate results that help decide the approach to their designing, resurfacing, and rehabilitation</p>
                        </div>

                        <div class="rsdp3">
                            
                            <p>Our Pavement Investigation involves both Destructive and Non-destructive testing methods depending upon the condition/upgradation/widening of the pavement and highway structures</p>
                        </div>
                        <div class="rsdh6">
                            <h6>Following are Some Suggested Tests to Assess the Pavement and Highway Structures</h6>

                            <div class="row">
                                <div class="col-sm-6">
                                    <p> <span class=" bi bi-check-lg"></span>Falling Weight Deflectometer (FWD)</p>
                                </div>
                                <div class="col-sm-6">
                                    <p><span class=" bi bi-check-lg"></span>Bridge Load Test (Load – Displacement Method)</p>
                                </div>
                                <div class="col-sm-6">
                                    <p> <span class=" bi bi-check-lg"></span>Benkelman Beam Deflection (BBD)</p>
                                </div>
                                <div class="col-sm-6">
                                    <p><span class=" bi bi-check-lg"></span>Core Testing of Bituminous and Concrete Pavement</p>
                                </div>
                                <div class="col-sm-6">
                                    <p> <span class=" bi bi-check-lg"></span>Roughness Index Survey using Bump Indicator Method</p>
                                </div>
                                <div class="col-sm-6">
                                    <p><span class=" bi bi-check-lg"></span>Field CBR using Dynamic Cone Penetrometer Test</p>
                                </div>
                                <div class="col-sm-6">
                                    <p><span class=" bi bi-check-lg"></span>Axle Load Survey</p>
                                </div>
                                <div class="col-sm-6">
                                    <p><span class=" bi bi-check-lg"></span>Retro Reflectometers</p>
                                </div>




                            </div>

                        </div>
                        <div class="rsdh6">
                            <h6>Other Tests</h6>
                            <div class="row rsdhflex">
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Material Investigation – include Subgrade/Subbase/ROW and Borrow Area</p>
                                </div>
                                <div class="col-sm-12">
                                    <p><span class=" bi bi-check-lg"></span>Determination of In-situ Density/Moisture Content</p>
                                </div>
                                <div class="col-sm-12">
                                    <p> <span class=" bi bi-check-lg"></span>Traffic Survey</p>
                                </div>
                                









                            </div>

                        </div>
                    


                            

                        
                        <div class="rsdh6">
                            <h6>Why Choose CEGTH?</h6>
                            <p class="pf1">We have a firm grounding in Pavement Investigation & Design services, backed up by our extensive three decades of experience and contribution in various successfully implemented highway projects across the country.</p>
                            <p class="pf2">Our NABL accredited Pavement Testing lab employs skilled/experienced technicians capable of delivering accurate test results using advanced equipment to enhance the quality, safety & durability of pavement and highway structures</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>



 <section class="section-elevan">
        <div class="full-bottom">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo">
                            <img src="../Ceg test house images/cegth-logo.png" alt="Company Logo">
                        </div>
                        <div class="social-iconselevan">
                            <a href="#"><span class="bi bi-facebook"></span></a>
                            <a href="#"><span class="bi bi-twitter"></span></a>
                            <a href="#"><span class="bi bi-instagram"></span></a>
                            <a href="#"><span class="bi bi-linkedin"></span></a>

                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="Address">
                            <h2>Address</h2>
                            <p><span class="bi bi-geo-alt-fill"></span>B-11(G), Malviya Industrial Area,
                                Malviya Nagar, Jaipur - 302017
                                Rajasthan, India</p>
                            <button id="directionsButton">Get Directions On The Map <span
                                    class="bi bi-arrow-right"></span></button>
                            <div id="map"></div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="GeInTouch">
                            <h2>Get in Touch</h2>
                            <p><span class="bi bi-phone-fill"></span>For Customer Care:<span class="editphone"> (+91)
                                    98297-46596</span></p>
                            <p><span class="bi bi-telephone-fill"></span>Phone: <span
                                    class="editphone">+91-141-4046599</span></p>
                            <p><span class="bi bi-envelope-fill"></span>info@cegtesthouse.com</p>
                            <button id="directionsButton">Download Brochure </button>
                            <div id="map"></div>

                        </div>
                    </div>






                </div>
            </div>
        </div>







    </section>
    <section class="sectiontwelve">

        <footer>
            <div class="left-content">
                &copy; 2020 CEG Test House - CEG | <a>Terms and Conditions</a>
            </div>
            <div class="right-content">
                For Customer Care: <span class="bi bi-telephone-fill"></span> (+91) 98297-46596
            </div>





        </footer>





    </section>





























    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.slider').slick({
          autoplay: true,
          autoplaySpeed: 2000,
          dots: false,  // Hide pagination dots
          arrows: true
        });
      });
    </script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>$('.slider').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: true,
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: true
        });

    </script>

</body>

</html>